<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PracticeforQuiz1-20210601013346.mdf;Initial Catalog=aspnet-PracticeforQuiz1-20210601013346;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="QuizPracticeDB" connectionString="data source=.;initial catalog=Chinook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
